@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
    --heading-font: "DM Sans", sans-serif;
    --body-font: "DM Sans", sans-serif;
    --heading: 0 0% 0%;
    --body: 215 78% 6%;
    --border: 0 0% 93%;
    --base-h: 214;
    --base-s: 89%;
    --base-l: 49%;
    --base: var(--base-h) var(--base-s) var(--base-l);
    --base-100: var(--base-h) var(--base-s) calc(var(--base-l) + 20%);
    --base-200: var(--base-h) var(--base-s) calc(var(--base-l) + 15%);
    --base-300: var(--base-h) var(--base-s) calc(var(--base-l) + 10%);
    --base-400: var(--base-h) var(--base-s) calc(var(--base-l) + 5%);
    --base-500: var(--base-h) var(--base-s) calc(var(--base-l) - 5%);
    --base-600: var(--base-h) var(--base-s) calc(var(--base-l) - 8%);
    --base-700: var(--base-h) var(--base-s) calc(var(--base-l) - 10%);
    --base-800: var(--base-h) var(--base-s) calc(var(--base-l) - 15%);
    --base-900: var(--base-h) var(--base-s) calc(var(--base-l) - 20%);
    --accent-h: 260;
    --accent-s: 92%;
    --accent-l: 10%;
    --accent-50: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 25%);
    --accent-100: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 20%);
    --accent-200: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 15%);
    --accent-300: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 10%);
    --accent-400: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 5%);
    --accent: var(--accent-h) var(--accent-s) var(--accent-l);
    --accent-600: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 5%);
    --accent-700: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 10%);
    --accent-800: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 15%);
    --accent-900: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 20%);
    --primary: 245 82% 67%;
    --secondary: 210 7% 56%;
    --success: 147 67% 47%;
    --danger: 0 76% 58%;
    --warning: 29 100% 63%;
    --info: 200 90% 53%;
    --dark: 206 70% 11%;
    --white: 0 0% 100%;
    --light-h: 148;
    --light-s: 0%;
    --light-l: 95%;
    --light-50: var(--light-h) var(--light-s) calc(var(--light-l) + 33%);
    --light-100: var(--light-h) var(--light-s) calc(var(--light-l) + 20%);
    --light-200: var(--light-h) var(--light-s) calc(var(--light-l) + 15%);
    --light-300: var(--light-h) var(--light-s) calc(var(--light-l) + 10%);
    --light-400: var(--light-h) var(--light-s) calc(var(--light-l) + 2%);
    --light: var(--light-h) var(--light-s) var(--light-l);
    --light-600: var(--light-h) var(--light-s) calc(var(--light-l) - 2%);
    --light-700: var(--light-h) var(--light-s) calc(var(--light-l) - 10%);
    --light-800: var(--light-h) var(--light-s) calc(var(--light-l) - 15%);
    --light-900: var(--light-h) var(--light-s) calc(var(--light-l) - 20%);
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.7;
    color: hsl(var(--body));
    font-family: var(--body-font);
    background-color: #fafcff;
}

a {
    text-decoration: none;
    color: hsl(var(--body));
}

a:hover {
    color: hsl(var(--base));
}

span,
sub,
sup,
a {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.7;
    color: hsl(var(--body));
    font-family: var(--body-font);
    background-color: #fafcff;
}

a {
    text-decoration: none;
    color: hsl(var(--body));
}

a:hover {
    color: hsl(var(--base));
}

span,
sub,
sup,
a {
    display: inline-block;
}

/* global css strat */
.text--primary {
    color: hsl(var(--primary)) !important;
}

.text--secondary {
    color: hsl(var(--secondary)) !important;
}

.text--success {
    color: hsl(var(--success)) !important;
}

.text--danger {
    color: hsl(var(--danger)) !important;
}

.text--warning {
    color: hsl(var(--warning)) !important;
}

.text--info {
    color: hsl(var(--info)) !important;
}

.text--dark {
    color: hsl(var(--dark)) !important;
}

.text--muted {
    color: hsl(var(--muted)) !important;
}

.text--base {
    color: hsl(var(--base)) !important;
}

.text--body {
    color: hsl(var(--body)) !important;
}

/* background color css start */
.bg--primary {
    background-color: hsl(var(--primary)) !important;
}

.bg--secondary {
    background-color: hsl(var(--secondary)) !important;
}

.bg--success {
    background-color: hsl(var(--success)) !important;
}

.bg--danger {
    background-color: hsl(var(--danger)) !important;
}

.bg--warning {
    background-color: hsl(var(--warning)) !important;
}

.bg--info {
    background-color: hsl(var(--info)) !important;
}

.bg--dark {
    background-color: hsl(var(--dark)) !important;
}

.bg--light {
    background-color: hsl(var(--light)) !important;
}

.bg--base {
    background-color: hsl(var(--base)) !important;
}

.bg--accent {
    background-color: hsl(var(--accent)) !important;
}

/* background color css end */
.bg_img {
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.bg_fixed {
    background-attachment: fixed !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -999;
}

.overlay.active {
    z-index: 111;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(var(--white));
    z-index: 9999;
    bottom: 30px;
    right: 30px;
    font-size: 18px;
    position: fixed;
    transform: translateY(150px);
    background: hsl(var(--base));
    border-radius: 3px;
}

.scrollToTop:hover {
    color: hsl(var(--white));
}

.scrollToTop.active {
    transform: translateY(0);
    animation: bounceInDown 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
    line-height: 1.3;
    color: hsl(var(--heading));
    font-family: var(--heading-font);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: hsl(var(--heading));
}

h1 {
    font-size: 45px;
}

@media (max-width: 1199px) {
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 30px;
    }
}

h2 {
    font-size: 30px;
}

@media (max-width: 767px) {
    h2 {
        font-size: 26px;
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: 22px;
    }
}

h3 {
    font-size: 30px;
}

@media (max-width: 1199px) {
    h3 {
        font-size: 26px;
    }
}

@media (max-width: 450px) {
    h3 {
        font-size: 24px;
    }
}

h4 {
    font-weight: 400;
    font-size: 21px;
}

@media (max-width: 1199px) {
    h4 {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    h4 {
        font-size: 18px;
    }
}

h5 {
    font-size: 18px;
}

@media (max-width: 575px) {
    h5 {
        font-size: 16px;
    }
}

h6 {
    font-size: 16px;
}

@media (max-width: 575px) {
    h6 {
        font-size: 15px;
    }
}

.fs--13px {
    font-size: 12px;
}

.fs--13px {
    font-size: 13px;
}

.fs--14px {
    font-size: 14px;
}

.fs--15px {
    font-size: 15px;
}

.fs--16px {
    font-size: 16px;
}

.fs--18px {
    font-size: 18px;
}

.fs--20px {
    font-size: 20px;
}

.fs--22px {
    font-size: 22px;
}

.text--primary {
    color: hsl(var(--primary)) !important;
}

.text--secondary {
    color: hsl(var(--secondary)) !important;
}

.text--success {
    color: hsl(var(--success)) !important;
}

.text--danger {
    color: hsl(var(--danger)) !important;
}

.text--warning {
    color: hsl(var(--warning)) !important;
}

.text--info {
    color: hsl(var(--info)) !important;
}

.text--dark {
    color: hsl(var(--dark)) !important;
}

.text--muted {
    color: hsl(var(--muted)) !important;
}

.text--base {
    color: hsl(var(--base)) !important;
}

.text--body {
    color: hsl(var(--body)) !important;
}

/* background color css start */
.bg--primary {
    background-color: hsl(var(--primary)) !important;
}

.bg--secondary {
    background-color: hsl(var(--secondary)) !important;
}

.bg--success {
    background-color: hsl(var(--success)) !important;
}

.bg--danger {
    background-color: hsl(var(--danger)) !important;
}

.bg--warning {
    background-color: hsl(var(--warning)) !important;
}

.bg--info {
    background-color: hsl(var(--info)) !important;
}

.bg--dark {
    background-color: hsl(var(--dark)) !important;
}

.bg--light {
    background-color: hsl(var(--light)) !important;
}

.bg--base {
    background-color: hsl(var(--base)) !important;
}

.bg--accent {
    background-color: hsl(var(--accent)) !important;
}

/* background color css end */
.pagination, .list.list-column {
    display: flex;
    flex-wrap: wrap;
}

.nav-filter a, .admin-content, .sidebar, .btn,
.cmn--btn, a,
img,
.name {
    transition: all 0.3s;
}

.list.list-style-two li::before, .list.list-style-check li::before {
    position: absolute;
    font-weight: 900;
    font-size: 16px;
    font-family: "Line Awesome Free";
}

.pt-120 {
    padding-top: clamp(70px, 5vw, 120px);
}

.pt-100 {
    padding-top: clamp(55px, 5vw, 100px);
}

.pt-80 {
    padding-top: clamp(50px, 5vw, 80px);
}

.pt-60 {
    padding-top: clamp(35px, 5vw, 60px);
}

.pt-50 {
    padding-top: clamp(35px, 5vw, 50px);
}

.pt-40 {
    padding-top: clamp(25px, 5vw, 40px);
}

.pb-120 {
    padding-bottom: clamp(70px, 5vw, 120px);
}

.pb-100 {
    padding-bottom: clamp(55px, 5vw, 100px);
}

.pb-80 {
    padding-bottom: clamp(50px, 5vw, 80px);
}

.pb-60 {
    padding-bottom: clamp(35px, 5vw, 60px);
}

.pb-50 {
    padding-bottom: clamp(35px, 5vw, 50px);
}

.pb-40 {
    padding-bottom: clamp(25px, 5vw, 40px);
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.list.list-column {
    flex-direction: column;
}

.list.list-style-check li {
    position: relative;
    padding: 7px 0;
    padding-left: 28px;
    font-size: 14px;
}

.list.list-style-check li.active {
    color: hsl(var(--heading));
}

.list.list-style-check li.active::before {
    content: "\f00c";
}

.list.list-style-check li.disabled {
    color: hsl(var(--body)/0.65);
}

.list.list-style-check li.disabled::before {
    content: "\f00d";
}

.list.list-style-check li::before {
    left: 0;
    top: 6px;
}

.list.list-style-one li {
    padding: 6px 0;
    padding-left: 25px;
    position: relative;
}

.list.list-style-one li::before {
    position: absolute;
    content: "";
    left: 0;
    width: 10px;
    height: 10px;
    top: 12px;
    background-color: hsl(var(--base));
    border-radius: 50%;
}

.list.list-style-two li {
    padding: 6px 0;
    padding-left: 25px;
    position: relative;
}

.list.list-style-two li::before {
    content: "\f101";
    left: 0;
    top: 6px;
    color: hsl(var(--base));
}

@media (min-width: 576px) {
    .list.list-50-sm li {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .list.list-50-md li {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .list.list-50-lg li {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .list.list-50-xl li {
        width: 50%;
    }
}

.btn,
.cmn--btn {
    padding: 7px 25px;
    font-weight: 400;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 5px;
}

.btn.btn--lg,
.cmn--btn.btn--lg {
    font-size: 17px;
}

@media (max-width: 991px) {
    .btn.btn--lg,
.cmn--btn.btn--lg {
        font-size: 16px;
        font-weight: 400 !important;
    }
}

.btn.btn--md,
.cmn--btn.btn--md {
    padding: 6px 20px !important;
    font-size: 15px;
    font-weight: 400;
}

.btn.btn--sm,
.cmn--btn.btn--sm {
    padding: 5px 15px !important;
    font-size: 14px;
}

.btn.btn--xs,
.cmn--btn.btn--xs {
    padding: 0px 10px !important;
    font-size: 13px;
}

.cmn--btn {
    border: 1px solid hsl(var(--base-900));
    background-color: hsl(var(--base));
    color: hsl(var(--white));
}

.cmn--btn:hover {
    background-color: transparent;
    border-color: hsl(var(--base));
    color: hsl(var(--base));
}

@media (max-width: 575px) {
    .cmn--btn {
        padding: 8px 30px;
    }
}

.btn--primary {
    background-color: hsl(var(--primary));
    border: 2px solid hsl(var(--primary));
    color: hsl(var(--white));
}

.btn--primary:hover {
    color: hsl(var(--primary));
}

.btn--secondary {
    background-color: hsl(var(--secondary));
    border: 2px solid hsl(var(--secondary));
    color: hsl(var(--white));
}

.btn--secondary:hover {
    color: hsl(var(--secondary));
}

.btn--success {
    background-color: hsl(var(--success));
    border: 2px solid hsl(var(--success));
    color: hsl(var(--white));
}

.btn--success:hover {
    color: hsl(var(--success));
}

.btn--danger {
    background-color: hsl(var(--danger));
    border: 2px solid hsl(var(--danger));
    color: hsl(var(--white));
}

.btn--danger:hover {
    color: hsl(var(--danger));
}

.btn--warning {
    background-color: hsl(var(--warning));
    border: 2px solid hsl(var(--warning));
    color: hsl(var(--white));
}

.btn--warning:hover {
    color: hsl(var(--warning));
}

.btn--info {
    background-color: var(--info);
    border: 2px solid var(--info);
    color: hsl(var(--white));
}

.btn--info:hover {
    color: var(--info);
}

.btn--light {
    background-color: hsl(var(--light));
    border: 2px solid hsl(var(--light));
    color: hsl(var(--white));
}

.btn--light:hover {
    color: hsl(var(--light));
}

.btn--dark {
    background-color: hsl(var(--dark));
    border: 2px solid hsl(var(--dark));
    color: hsl(var(--white));
}

.btn--dark:hover {
    color: hsl(var(--dark));
}

.btn--base {
    background-color: hsl(var(--base));
    border: 2px solid hsl(var(--base));
    color: hsl(var(--white));
}

.btn--base:hover {
    color: hsl(var(--base));
}

.btn--light {
    color: hsl(var(--base));
}

.btn--outline-primary {
    background-color: transparent;
    border: 2px solid hsl(var(--primary));
    color: hsl(var(--primary));
}

.btn--outline-primary:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--primary));
    background-color: hsl(var(--primary));
}

.btn--outline-secondary {
    background-color: transparent;
    border: 2px solid hsl(var(--secondary));
    color: hsl(var(--secondary));
}

.btn--outline-secondary:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--secondary));
    background-color: hsl(var(--secondary));
}

.btn--outline-success {
    background-color: transparent;
    border: 2px solid hsl(var(--success));
    color: hsl(var(--success));
}

.btn--outline-success:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--success));
    background-color: hsl(var(--success));
}

.btn--outline-danger {
    background-color: transparent;
    border: 2px solid hsl(var(--danger));
    color: hsl(var(--danger));
}

.btn--outline-danger:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--danger));
    background-color: hsl(var(--danger));
}

.btn--outline-warning {
    background-color: transparent;
    border: 2px solid hsl(var(--warning));
    color: hsl(var(--warning));
}

.btn--outline-warning:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--warning));
    background-color: hsl(var(--warning));
}

.btn--outline-info {
    background-color: transparent;
    border: 2px solid var(--info);
    color: var(--info);
}

.btn--outline-info:hover {
    color: hsl(var(--white));
    border-color: var(--info);
    background-color: var(--info);
}

.btn--outline-light {
    background-color: transparent;
    border: 2px solid hsl(var(--light));
    color: hsl(var(--light));
}

.btn--outline-light:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--light));
    background-color: hsl(var(--light));
}

.btn--outline-dark {
    background-color: transparent;
    border: 2px solid hsl(var(--dark));
    color: hsl(var(--dark));
}

.btn--outline-dark:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--dark));
    background-color: hsl(var(--dark));
}

.btn--outline-base {
    background-color: transparent;
    border: 2px solid hsl(var(--base));
    color: hsl(var(--base));
}

.btn--outline-base:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--base));
    background-color: hsl(var(--base));
}

.btn--outline-light {
    color: hsl(var(--base));
    border: 1px solid hsl(var(--base));
}

.btn--outline-light:hover {
    color: hsl(var(--white));
    border-color: hsl(var(--base));
    background-color: hsl(var(--base));
}

.btn--outline-light:hover i {
    color: hsl(var(--white));
}

.btn--outline-light i {
    padding-left: 5px;
    color: hsl(var(--base));
    font-size: 20px;
    line-height: 1;
    transform: translateY(3px);
}

.read-btn {
    background: transparent;
    color: hsl(var(--base));
    border-color: hsl(var(--base));
    font-weight: 400;
    padding: 5px 15px;
}

.read-btn:hover {
    background-color: hsl(var(--base));
    color: hsl(var(--white));
}

.badge--base {
    background-color: hsl(var(--base));
    border: 1px solid hsl(var(--base));
    color: hsl(var(--white));
}

.badge--primary {
    background-color: hsl(var(--primary)/0.15);
    border: 1px solid hsl(var(--primary));
    color: hsl(var(--primary));
}

.badge--secondary {
    background-color: hsl(var(--secondary));
    border: 1px solid hsl(var(--secondary));
    color: hsl(var(--white));
}

.badge--success {
    background-color: #01c52f;
    border: 1px solid #01c52f;
    color: hsl(var(--white));
}

.badge--danger {
    background-color: #f90113;
    border: 1px solid #f90113;
    color: hsl(var(--white));
}

.badge--warning {
    background-color: #ff5a00;
    border: 1px solid hsl(var(--warning));
    color: hsl(var(--white));
}

.badge--warning:hover {
    background-color: #ff5a00;
    border: 1px solid hsl(var(--warning));
    color: hsl(var(--white));
}

.badge--info {
    background-color: hsl(var(--info)/0.15);
    border: 1px solid hsl(var(--info));
    color: hsl(var(--info));
}

.badge--dark {
    background-color: #003261;
    border: 1px solid #003261;
    color: hsl(var(--white));
    padding-inline: 17px !important;
}

.badge {
    border-radius: 3px;
    padding: 8px 20px;
    font-weight: normal;
    font-size: 16px;
}

@media (max-width: 1399px) {
    .badge {
        padding: 8px 15px;
        font-size: 15px;
    }
}

.badge:hover {
    color: hsl(var(--white));
}

.badge.badge--icon {
    padding: 5px;
}

.badge.badge--lg {
    padding: 6px 16px;
}

.badge.badge--md {
    padding: 4px 12px;
}

.badge.badge--sm {
    padding: 3px 10px;
}

.badge--fill-primary {
    background-color: hsl(var(--primary));
    border: 1px solid hsl(var(--primary));
    color: hsl(var(--white));
}

.badge--fill-primary:hover {
    color: hsl(var(--white));
}

.badge--fill-secondary {
    background-color: hsl(var(--secondary));
    border: 1px solid hsl(var(--secondary));
    color: hsl(var(--white));
}

.badge--fill-secondary:hover {
    color: hsl(var(--white));
}

.badge--fill-success {
    background-color: hsl(var(--success));
    border: 1px solid hsl(var(--success));
    color: hsl(var(--white));
}

.badge--fill-success:hover {
    color: hsl(var(--white));
}

.badge--fill-danger {
    background-color: hsl(var(--danger));
    border: 1px solid hsl(var(--danger));
    color: hsl(var(--white));
}

.badge--fill-danger:hover {
    color: hsl(var(--white));
}

.badge--fill-warning {
    background-color: hsl(var(--warning));
    border: 1px solid hsl(var(--warning));
    color: hsl(var(--white));
}

.badge--fill-warning:hover {
    color: hsl(var(--white));
}

.badge--fill-info {
    background-color: hsl(var(--info));
    border: 1px solid hsl(var(--info));
    color: hsl(var(--white));
}

.badge--fill-info:hover {
    color: hsl(var(--white));
}

.badge--fill-light {
    background-color: hsl(var(--light));
    border: 1px solid hsl(var(--light));
    color: hsl(var(--white));
}

.badge--fill-light:hover {
    color: hsl(var(--white));
}

.badge--fill-dark {
    background-color: hsl(var(--dark));
    border: 1px solid hsl(var(--dark));
    color: hsl(var(--white));
}

.badge--fill-dark:hover {
    color: hsl(var(--white));
}

.badge--fill-base {
    background-color: hsl(var(--base));
    border: 1px solid hsl(var(--base));
    color: hsl(var(--white));
}

.badge--fill-base:hover {
    color: hsl(var(--white));
}

.table {
    margin: 0;
    font-size: 15px;
    background-color: hsl(var(--white));
    box-shadow: 0 0 8px hsl(var(--base)/0.06);
}

.table thead tr th {
    text-align: start;
    font-size: 15px;
    padding: 15px;
    color: hsl(var(--heading));
    font-family: var(--heading-font);
    font-weight: 500;
}

@media (max-width: 1399px) {
    .table thead tr th {
        font-size: 14px !important;
    }
}

.table thead tr th:first-child {
    text-align: left;
    border-radius: 5px 0 0 0;
}

.table thead tr th:last-child {
    border-radius: 0 5px 0 0;
    text-align: right;
}

.table tbody {
    border: 0 !important;
}

.table tbody tr {
    border-bottom: 1px solid hsl(var(--border));
}

.table tbody tr td {
    text-align: start;
    vertical-align: middle;
    padding: 20px 15px;
    border-width: 1px;
    font-family: var(--heading-font);
}

@media (max-width: 1399px) {
    .table tbody tr td {
        line-height: 1.3;
        font-size: 14px;
    }
}

.table tbody tr td::before {
    content: attr(data-label);
    font-family: var(--heading-font);
    font-size: 15px;
    color: hsl(var(--heading));
    font-weight: 500;
    display: none;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr td:last-child {
    text-align: right;
}

.table .amount span {
    margin-right: 4px;
}

@media (max-width: 767px) {
    .table--responsive--md thead {
        display: none;
    }

    .table--responsive--md tbody tr {
        display: block;
    }

    .table--responsive--md tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px;
        text-align: right;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid hsl(var(--border));
    }
}

@media (max-width: 767px) and (max-width: 991px) {
    .table--responsive--md tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    .table--responsive--md tbody tr td:last-child {
        border: none;
    }
}

@media (max-width: 767px) {
    .table--responsive--md tbody tr td::before {
        display: block;
    }
}

@media (min-width: 768px) {
    .table--responsive--md tbody tr td {
        border: 0;
    }
}

@media (max-width: 991px) {
    .table--responsive--lg thead {
        display: none;
    }

    .table--responsive--lg tbody tr {
        display: block;
    }

    .table--responsive--lg tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px;
        text-align: right;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid hsl(var(--border));
    }
}

@media (max-width: 991px) and (max-width: 991px) {
    .table--responsive--lg tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 991px) {
    .table--responsive--lg tbody tr td:last-child {
        border: none;
    }
}

@media (max-width: 991px) {
    .table--responsive--lg tbody tr td::before {
        display: block;
    }
}

@media (min-width: 992px) {
    .table--responsive--lg tbody tr td {
        border: none;
    }
}

@media (max-width: 1199px) {
    .table--responsive--xl thead {
        display: none;
    }

    .table--responsive--xl tbody tr {
        display: block;
    }

    .table--responsive--xl tbody tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px;
        text-align: right;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid hsl(var(--border));
    }
}

@media (max-width: 1199px) and (max-width: 991px) {
    .table--responsive--xl tbody tr td {
        font-size: 14px !important;
    }
}

@media (max-width: 1199px) {
    .table--responsive--xl tbody tr td:last-child {
        border: none;
    }
}

@media (max-width: 1199px) {
    .table--responsive--xl tbody tr td::before {
        display: block;
    }
}

@media (min-width: 1200px) {
    .table--responsive--xl tbody tr td {
        border: 0;
    }
}

.form-label {
    font-size: 15px;
}

.form--control {
    height: 40px;
    border-radius: 5px;
    border: 1px solid hsl(var(--border));
    outline: 0 !important;
    box-shadow: none !important;
}

.form--control:focus {
    border: 1px solid hsl(var(--base));
}

.form--control[readonly] {
    border-color: hsl(var(--border));
    background-color: hsl(var(--light));
}

textarea.form--control {
    height: 130px;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: hsl(var(--heading));
    transition: background-color 5000s ease-in-out 0s;
}

.custom--radio {
    position: relative;
    padding-left: 0;
}

.custom--radio input[type=radio] {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
}

.custom--radio input[type=radio]:checked ~ label::before {
    border-width: 1px;
    border-color: hsl(var(--base)) !important;
}

.custom--radio input[type=radio]:checked ~ label::after {
    opacity: 1;
}

.custom--radio label {
    margin-bottom: 0;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
}

.custom--radio label::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 50%;
}

.custom--radio label::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 4px;
    width: 7px;
    height: 7px;
    background-color: hsl(var(--base)) !important;
    opacity: 0;
    border-radius: 50%;
}

/* form css end*/
.custom--card {
    border: 1px solid hsl(var(--border));
    border-radius: 5px;
}

.custom--card .card-header,
.custom--card .card-footer {
    background: hsl(var(--base));
    text-align: center;
}

.custom--card .card-header .title,
.custom--card .card-footer .title {
    color: hsl(var(--white));
    margin: 0;
}

.custom--card .card-header,
.custom--card .card-footer {
    padding: 15px 25px;
    border-color: hsl(var(--border)) !important;
}

@media (max-width: 575px) {
    .custom--card .card-header,
.custom--card .card-footer {
        padding: 10px 20px;
    }
}

@media (max-width: 575px) {
    .custom--card .card-header,
.custom--card .card-footer {
        padding: 8px 15px;
    }
}

.custom--card .card-body {
    padding: 25px;
}

@media (max-width: 575px) {
    .custom--card .card-body {
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .custom--card .card-body {
        padding: 15px;
    }
}

.custom--card.card--lg .card-header,
.custom--card.card--lg .card-footer {
    padding: 20px 35px;
}

@media (max-width: 767px) {
    .custom--card.card--lg .card-header,
.custom--card.card--lg .card-footer {
        padding: 15px 25px;
    }
}

@media (max-width: 575px) {
    .custom--card.card--lg .card-header,
.custom--card.card--lg .card-footer {
        padding: 10px 20px;
    }
}

@media (max-width: 450px) {
    .custom--card.card--lg .card-header,
.custom--card.card--lg .card-footer {
        padding: 8px 15px;
    }
}

.custom--card.card--lg .card-body {
    padding: 35px;
}

@media (max-width: 767px) {
    .custom--card.card--lg .card-body {
        padding: 25px;
    }
}

@media (max-width: 575px) {
    .custom--card.card--lg .card-body {
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .custom--card.card--lg .card-body {
        padding: 15px;
    }
}

.custom--card.card--md .card-header,
.custom--card.card--md .card-footer {
    padding: 10px 20px;
}

.custom--card.card--md .card-body {
    padding: 20px 20px;
}

.admin-card {
    padding: 30px 40px;
    background: #fff;
    border: 1px solid hsl(var(--border));
}

.admin-card .card-title {
    margin-top: 25px;
    margin-bottom: 30px;
    color: hsl(var(--base));
    border-bottom: 1px solid hsl(var(--border));
    padding-bottom: 7px;
    position: relative;
}

.admin-card .card-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 2px;
    background-color: hsl(var(--base));
    bottom: 0;
    left: 0;
}

.custom--modal .modal-footer,
.custom--modal .modal-body,
.custom--modal .modal-header {
    border-color: hsl(var(--border)) !important;
}

.custom--modal .modal-footer .modal-title,
.custom--modal .modal-header .modal-title {
    margin: 0;
    color: hsl(var(--heading));
}

.custom--modal .modal-footer .btn-close,
.custom--modal .modal-header .btn-close {
    background: transparent;
    font-size: 20px;
    line-height: 1;
    color: hsl(var(--danger)) !important;
}

.pagination {
    justify-content: center;
    gap: 12px;
}

.pagination .page-item {
    text-align: center;
}

.pagination .page-item .page-link {
    font-weight: 600;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-color: hsl(var(--border));
    box-shadow: none;
    color: hsl(var(--body));
}

.pagination .page-item.active .page-link, .pagination .page-item:hover .page-link {
    color: hsl(var(--white));
    background-color: hsl(var(--base));
    border-color: transparent;
}

.pagination .page-item.disabled {
    cursor: no-drop !important;
}

.pagination .page-item.disabled .page-link {
    color: hsl(var(--body));
    background: hsl(var(--dark)/0.1);
    border: none;
}

.header-top {
    padding: 4px 0px;
    border-bottom: 1px solid hsl(var(--border));
    position: sticky;
    top: 0;
    background-color: #fafcff;
    z-index: 111;
}

.header-top.style-two {
    padding: 9.5px 0;
}

.account-verification-details {
    width: 450px;
}

@media (max-width: 1199px) {
    .account-verification-details {
        flex-wrap: wrap;
        max-width: 450px;
    }
}

.account-verification-details li {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 20px;
    box-shadow: 0px 0px 2px 0px #ccc;
    background-color: #fff;
    margin-left: -4px;
}

.profile-top-div {
    background-color: #686868;
    display: block;
    color: #fff !important;
    font-size: 19px;
    border: 1px solid #686868;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px 3px;
}

.profile-wrapper-outer {
    gap: 10px 24px;
}

.profile-wrapper {
    gap: 10px 24px;
}

.user-wrapper {
    background-color: #ee2c34;
    color: hsl(var(--white));
    font-size: 15px;
    width: 215px;
    border-radius: 10px 50px 50px 10px;
    padding: 0px 10px;
}

.user-wrapper .content {
    width: 155px;
}

.user-wrapper .content p {
    line-height: 1.2;
    margin: 0;
}

.user-wrapper .content .fs-12 {
    font-size: 10px;
}

.user-wrapper .thumb {
    width: calc(100% - 155px);
    padding-left: 10px;
}

.toggle-menu a {
    color: #fff;
    padding: 10px 15px;
    position: relative;
    display: block;
}

.toggle-menu a span {
    background-color: #666;
    color: #666;
    height: 2px;
    width: 20px;
    display: block;
    margin-bottom: 3px;
}

.ml-fif {
    margin-left: -3px;
}

.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid hsl(var(--border));
    background-color: #f3f6f9;
}

@media (max-width: 991px) {
    .sidebar {
        transform: translateX(-100%);
        z-index: 111;
        padding-bottom: 50px;
    }
}

.sidebar .logo {
    padding: 12px 15px;
    border-bottom: 1px solid hsl(var(--border));
}

.text--secondary {
    color: #878787;
}

@media (max-width: 575px) {
    .admin-card {
        padding: 15px;
    }
}

.search-form {
    position: relative;
    margin: 0px 15px;
}

.search-form .form--control {
    border: 0px;
    border-bottom: 1px solid hsl(var(--border));
    background-color: transparent;
    padding-left: 3px;
    border-radius: 0;
    padding-right: 35px;
}

.search-form .form--control:focus {
    border-color: hsl(var(--base));
}

.search-form .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.border-bottom {
    border-bottom: 0px !important;
    border-top: 1px solid #d7dce3;
}

.menu {
    padding: 0px 18px 10px;
    height: 100vh;
    overflow-y: auto;
}

.menu li {
    width: 100%;
    font-size: 15px;
}

.menu li span {
    padding: 8px 10px;
    border-bottom: 1px solid #d7dce3;
    display: block;
    font-weight: 700;
}

.menu li a {
    padding: 8px 10px;
    padding-right: 0px;
    display: block;
    border-radius: 4px;
}

.menu li a i {
    font-size: 18px;
    line-height: 1;
    padding-right: 3px;
}

.menu li a.active, .menu li a:hover {
    color: hsl(var(--body));
    background-color: #cce2f8;
    text-decoration: none;
}

.admin-content {
    width: calc(100% - 250px);
    margin-left: auto;
    background-color: #fafcff;
}

@media (max-width: 991px) {
    .admin-content {
        width: 100%;
    }
}

.admin-content-inner {
    padding: 20px;
}

.processing-btn {
    background-color: hsl(var(--success));
    border-color: hsl(var(--success));
}

.processing-btn:hover {
    border-color: hsl(var(--success));
    color: hsl(var(--success));
}

.complete-btn {
    background-color: #007a11;
    border-color: #007a11;
}

.complete-btn:hover {
    border-color: #007a11;
    color: #007a11;
}

.panding-btn {
    background-color: #fa6a0a;
    border-color: #fa6a0a;
}

.panding-btn:hover {
    border-color: #fa6a0a;
    color: #fa6a0a;
}

.newservice-form .form-group:not(:last-child) {
    margin-bottom: 30px;
}

.newservice-form .form-group .fileupload {
    line-height: 40px;
    padding-inline: 7px;
}

.newservice-form .form-group label {
    width: 200px;
    margin: 0;
}

@media (max-width: 575px) {
    .newservice-form .form-group label {
        width: 100%;
    }
}

.newservice-form .form-group input,
.newservice-form .form-group select {
    height: 35px;
}

.newservice-form .form-group .form--control, .newservice-form .form-group .check-input {
    width: calc(100% - 200px);
}

@media (max-width: 575px) {
    .newservice-form .form-group .form--control, .newservice-form .form-group .check-input {
        width: 100%;
    }
}

.newservice-form .form-group .fileup {
    cursor: pointer;
}

.newservice-form .form-group .fileup:focus {
    border-color: hsl(var(--border));
}

.newservice-form .form-group textarea {
    padding-left: 10px;
}

.newservice-form .delivery-time {
    border-color: hsl(var(--border));
    border-left: 0;
    background-color: hsl(var(--border));
    padding-left: 4px;
}

.newservice-form .delivery-time:focus {
    border-color: hsl(var(--border));
    outline: 0;
}

.h-35 {
    height: 35px;
}

.border-left-0 {
    border-bottom: 0;
    border-radius: 0px 0px 0px 0px;
}

.check-input .left {
    width: 20px;
}

.check-input .left input {
    width: 18px;
    cursor: pointer;
}

.check-input .right {
    width: calc(100% - 20px);
    padding-left: 15px;
}

.check-input .right input {
    width: 100% !important;
}

.admin-btn-wrapper .cmn--btn {
    padding: 15px 170px;
    background-color: #fa4e0a;
    border-color: #fa4e0a;
    font-size: 23px;
    line-height: 1;
}

@media (max-width: 1399px) {
    .admin-btn-wrapper .cmn--btn {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .admin-btn-wrapper .cmn--btn {
        font-size: 16px;
        padding-inline: 50px;
        display: block;
    }
}

.admin-btn-wrapper .cmn--btn:hover {
    text-decoration: none;
    color: #fff;
}

.text-icon-color {
    color: #9c999d;
}

.maximum-wrapper .content-left {
    width: 200px;
}

.maximum-wrapper .content-right {
    width: calc(100% - 200px);
}

.maximum-wrapper .textarea-right {
    height: 200px;
}

.create-subtile {
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(var(--border));
}

.font-14 {
    font-size: 14px;
    text-decoration: underline;
    color: hsl(var(--base));
}

.fz-15 {
    font-size: 15px;
}

.admin-right-content {
    background-color: #f6f8fc;
    padding: 25px;
    padding-right: 80px;
}

.pt-170 {
    padding-top: 170px;
}

@media (max-width: 1399px) {
    .pt-170 {
        padding-top: 130px;
    }
}

@media (max-width: 991px) {
    .pt-170 {
        padding-top: 100px;
    }
}

@media (max-width: 767px) {
    .pt-170 {
        padding-top: 80px;
    }
}

.upload-file-box {
    background-color: #f6f8fc;
}

.upload-file-box .file-icon {
    font-size: 100px;
    line-height: 1;
}

.upload-file-box .cmn--btn {
    background-color: #cce2f8;
    border-color: #acc6e0;
    color: #040404;
    cursor: pointer;
}

.upload-file-box .cmn--btn input {
    width: 100%;
    height: 100%;
}

.upload-file-box .cmn--btn:hover {
    text-decoration: none;
}

.example-wrapper {
    padding: 20px;
    border: 1px solid #cfd9e9;
}

.pvc-templets {
    border: 1px solid hsl(var(--border));
    border-radius: 2px;
    padding: 25px;
    background-color: hsl(var(--white));
}

@media (max-width: 575px) {
    .pvc-templets {
        padding: 15px;
    }
}

.order-filter {
    gap: 10px 22px;
    border-bottom: 1px solid hsl(var(--border));
    padding-bottom: 15px;
}

@media (max-width: 1399px) {
    .order-filter {
        gap: 10px 15px;
    }
}

@media (max-width: 1399px) {
    .order-filter {
        gap: 10px;
    }
}

.order-filter li a {
    padding: 7px 35px;
    border: 1px solid hsl(var(--border));
    border-radius: 4px;
}

@media (max-width: 575px) {
    .order-filter li a {
        padding: 3px 10px;
    }
}

.order-filter li a:hover {
    text-decoration: none;
}

.order-filter .form--control {
    padding: 7px 28px;
}

.nav-filter {
    border-bottom: 1px solid hsl(var(--border));
    gap: 20px 30px;
}

@media (max-width: 991px) {
    .nav-filter {
        gap: 3px 3px;
    }
}

@media (max-width: 575px) {
    .nav-filter {
        justify-content: center;
    }
}

.nav-filter a {
    border-bottom: 2px solid transparent;
    font-size: 16px;
    color: hsl(var(--body));
}

.nav-filter a i {
    padding-right: 5px;
    font-size: 18px;
    line-height: 1;
}

@media (max-width: 991px) {
    .nav-filter a {
        font-size: 15px;
    }
}

.nav-filter a.active {
    border-bottom: 2px solid hsl(var(--base));
    padding-left: 0;
    padding-right: 0;
    color: hsl(var(--base));
}

.nav-filter a.active i {
    color: hsl(var(--base));
}

.table.category-table th {
    border-top: 0px solid #dee2e6;
    border-bottom: 1px solid hsl(var(--border));
}

.table.category-table td {
    padding: 15px;
}

.content--wrapper .thumb {
    width: 30px;
}

.content--wrapper .thumb img {
    width: 100%;
}

.content--wrapper .content {
    width: calc(100% - 30px);
    padding-left: 15px;
}

.content--wrapper .content p {
    line-height: 1;
    margin-bottom: 8px;
}

.border-right-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.order-messasge .top-text {
    border-bottom: 1px solid hsl(var(--border));
    position: relative;
}

.order-messasge .top-text p {
    padding-bottom: 5px;
}

@media (max-width: 575px) {
    .order-messasge .top-text h5, .order-messasge .top-text p {
        width: 100%;
        display: block;
    }
}

.order-messasge .card-title {
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
}

.order-messasge .card-title::before {
    width: 260px;
    bottom: -2px;
}

@media (max-width: 767px) {
    .order-messasge .card-title::before {
        max-width: 100%;
    }
}

.top-bottom {
    padding-top: 25px;
    padding-bottom: 30px;
}

@media (max-width: 575px) {
    .top-bottom {
        padding-top: 15px;
        padding-bottom: 20px;
    }
}

.top-bottom .sub-title {
    border-bottom: 1px solid hsl(var(--border));
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.top-bottom .text--secondary {
    font-style: italic;
}

.message-box textarea {
    height: 155px;
}

@media (max-width: 1399px) {
    .message-box textarea {
        height: 130px;
    }
}

.upload-file {
    border: 1px solid #e4e9f5;
    color: #a6b0c8;
    display: inline;
    margin: 0;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
}

.user-content p {
    line-height: 1.2;
}

.text-bottom-pay {
    border-top: 1px solid hsl(var(--border));
    border-bottom: 1px solid hsl(var(--border));
}

.download-wrapper {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #dbe0ea;
}

.download-wrapper .left-content {
    color: hsl(var(--base));
}

.file-btn-wrapper {
    border-bottom: 1px solid hsl(var(--border));
}

.file-btn-wrapper .cmn--btn {
    background-color: transparent;
    border-color: hsl(var(--base));
    color: hsl(var(--base));
}

@media (max-width: 575px) {
    .file-btn-wrapper .cmn--btn {
        padding: 5px 15px;
    }
}

.file-btn-wrapper .cmn--btn:hover {
    text-decoration: none;
}

.order-right-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 1399px) {
    .order-right-wrapper {
        padding: 0px;
        padding-left: 30px;
    }
}

@media (max-width: 1199px) {
    .order-right-wrapper {
        padding: 0px;
        padding-left: 10px;
    }
}

@media (max-width: 991px) {
    .order-right-wrapper {
        padding: 0px;
    }
}

.product-bg {
    background-color: #f6f8fc;
    padding: 30px;
    border-radius: 10px;
}

@media (max-width: 575px) {
    .product-bg {
        padding: 15px;
    }
}

.product-bg .product-list li {
    padding: 7px 0;
    color: #040404;
    font-size: 15px;
}

.product-bg .cmn--btn {
    background-color: #2b2b2b;
    padding: 9px 10px;
    border-color: #2b2b2b;
    border-width: 1px;
}

@media (max-width: 1399px) {
    .product-bg .cmn--btn {
        font-size: 15px;
        padding: 8px 7px;
    }
}

.product-bg .cmn--btn:hover {
    text-decoration: none;
    color: #2b2b2b;
    background-color: transparent;
}

.product-bg .qr-thumb img {
    width: 100%;
}

.qr-code-wrapper {
    border-top: 1px solid hsl(var(--border));
    border-width: 150%;
    margin-top: 15px;
}

.content-search-form .form-group {
    position: relative;
}

.content-search-form .form-group input {
    padding-left: 30px;
    border-color: #c6d1e1;
}

.content-search-form .form-group .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    cursor: pointer;
}

.transctions-table-wrapper .content-left {
    width: 250px;
}

.transctions-table-wrapper .right-content ul {
    gap: 0px 12px;
}

.transctions-table-wrapper .right-content .cmn--btn {
    padding: 5px 30px;
    background-color: transparent;
    color: hsl(var(--base));
    border-color: #c6d1e1;
}

.transctions-table-wrapper .right-content .form--control {
    border-color: #c6d1e1;
    padding: 5px 10px;
}

.table-btn {
    padding: 2px 30px;
}

@media (max-width: 1399px) {
    .table-btn {
        padding: 5px 20px;
    }
}

.transctions-table {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid hsl(var(--border));
    border-radius: 2px;
}

.transctions-table thead th {
    border-bottom: 1px solid hsl(var(--border)) !important;
}

.transctions-table tbody td {
    padding: 18px 15px !important;
}

.text-underliine {
    text-decoration: underline;
    color: hsl(var(--base));
}

.resgister,
.login {
    background-color: #fafcff;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.login-wrapper {
    background-color: hsl(var(--white));
    border: 1px solid hsl(var(--border));
    background: hsl(var(--white));
    border-radius: 2px;
    padding: 30px 77px 80px;
    overflow: hidden;
    width: 470px;
}

@media (max-width: 991px) {
    .login-wrapper {
        padding: 25px 15px 35px;
    }
}

.login-wrapper .cmn--btn {
    display: block;
    width: 100%;
}

.login-form label {
    margin-bottom: 3px;
}

.pass-remembar a {
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
}

.pass-remembar .check-box {
    font-size: 14px;
    cursor: pointer;
}

.pass-remembar .check-box input {
    margin-top: 15px;
}

.pass-remembar .check-box label {
    cursor: pointer;
}

.idpress {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.idpress::before, .idpress::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 77%;
    background-color: #a3b3d2;
}

@media (max-width: 575px) {
    .idpress::before, .idpress::after {
        width: 20%;
    }
}

.idpress::before {
    left: -21%;
}

@media (max-width: 575px) {
    .idpress::before {
        left: 0px;
    }
}

.idpress::after {
    right: -21%;
}

@media (max-width: 575px) {
    .idpress::after {
        right: 10px;
    }
}

.resgister-form {
    background-color: hsl(var(--white));
    padding-bottom: 0 !important;
}

.resgister-form .form-group {
    margin-bottom: 18px;
}

.resgister-form label {
    margin-bottom: 2px !important;
}

.border-top {
    border-top: 1px solid #a3b3d2;
    width: 140%;
    transform: translateX(-14.5%);
}

.form-bottom-text a {
    color: #8f8f8f;
    text-decoration: underline;
    padding-left: 15px;
}

.check-box-2 input {
    width: 15px;
}

.check-box-2 label {
    width: calc(100% - 15px);
    padding-left: 20px;
    font-size: 10px;
    line-height: 1.3;
    cursor: pointer;
    font-size: 14px;
}

.modal-dialog {
    max-width: 800px;
}

.profile-wrapper {
    position: relative;
}

.dropdown-wrapper {
    position: absolute;
    right: 0px;
    top: calc(100% - 1px);
    min-width: 250px;
    background-color: hsl(var(--white));
    box-shadow: 0px 1px 6px 2px hsl(var(--dark)/0.2);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0.85);
    z-index: 999;
}

.profile-top-div {
    background-color: #686868;
    display: block;
    color: #fff !important;
    font-size: 19px;
    border: 1px solid #686868;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    padding: 5px 3px;
}

@media (max-width: 1399px) {
    .profile-top-div {
        font-size: 17px;
        width: 35px;
        height: 35px;
        line-height: 25px;
    }
}

.fs--18px {
    font-size: 20px;
}

@media (max-width: 1399px) {
    .fs--18px {
        font-size: 18px;
    }
}

.button-wrapper-width {
    max-width: 145px;
    margin-left: auto;
}

.dropdown-header {
    display: block;
    padding: var(--bs-dropdown-header-padding-y) var(--bs-dropdown-header-padding-x);
    margin-bottom: 0;
    font-size: 0.875rem;
    color: var(--bs-dropdown-header-color);
    white-space: nowrap;
}

.notification-item {
    justify-content: space-between;
    border-top: 1px solid hsl(var(--light-700));
    padding: 5px 0px;
}

.notification-item .notificatoin-item-top {
    padding: 0px 10px;
}

.notification-item__thumb img {
    width: 50px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.notification-item__content {
    padding-left: 15px;
}

.notification-item__content .active-text {
    font-size: 14px;
    margin-bottom: 0;
}

.notification-item__content .text--success {
    font-size: 10px;
}

.notification-item__content-content {
    border-top: 1px solid hsl(var(--border));
    margin-top: 15px;
    padding: 0;
}

.notification-item__content-content li a {
    padding: 5px 15px;
}

.notification-item__content-content li a:hover {
    text-decoration: none;
    background-color: #F5F5F5;
}

.notification-item__content-content li:last-child {
    border-top: 1px solid hsl(var(--border));
}

.top-menu-link:focus ~ .dropdown-wrapper {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.modal-title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
}

.modal-body {
    padding: 23px 0;
}
/*# sourceMappingURL=main.css.map */
