// Menu Sidebar Starts Here
.sidebar {
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	border-right: 1px solid hsl(var(--border));
	background-color: #f3f6f9;
	@extend %transition;
	@include breakpoint(max-lg) {
		transform: translateX(-100%);
		z-index: 111;
		padding-bottom: 50px;
	}
	.logo {
		padding: 12px 15px;
		border-bottom: 1px solid hsl(var(--border));
	}
}
.text--secondary {
	color: #878787;
}

.search-form {
	position: relative;
	margin: 0px 15px;
	.form--control {
		border: 0px;
		border-bottom: 1px solid hsl(var(--border));
		background-color: transparent;
		padding-left: 3px;
		border-radius: 0;
		padding-right: 35px;
		&:focus {
			border-color: hsl(var(--base));
		}
	}
	.search-icon {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		cursor: pointer;
	}
}
.menu {
	padding: 0px 20px 10px;
	height: 100vh;
	overflow-y: auto;
	li {
		width: 100%;
		font-size: 15px;
		span {
			padding: 8px 10px;
		}
		a {
			padding: 8px 10px;
			display: block;
			border-radius: 4px;
			i {
				font-size: 18px;
				line-height: 1;
				padding-right: 3px;
			}
			&.active,
			&:hover {
				color: hsl(var(--body));
				background-color: #cce2f8;
				text-decoration: none;
			}
		}
	}
}

.admin-content {
	width: calc(100% - 250px);
	margin-left: auto;
	@extend %transition;
	background-color: #fafcff;
	@include breakpoint(max-lg) {
		width: 100%;
	}
}
.admin-content-inner {
	padding: 20px;
}

.newservice-form {
	.form-group {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		label {
			width: 185px;
			margin: 0;
		}
		input,
		select {
			height: 35px;
		}
		.form--control, .check-input {
			width: calc(100% - 185px);
		}
		.fileup {
			cursor: pointer;
			&:focus {
				border-color: hsl(var(--border));
			}
		}
		textarea {
			padding-left: 10px;
		}
	}
}
.h-35 {
	height: 35px;
}
.border-left-0 {
	border-bottom: 0 ;
	border-radius: 0px 0px 0px 0px;
}
.check-input {
	.left {
		width: 20px;
		input {
			width: 18px;
			cursor: pointer;
		}
	}
	.right  {
		width: calc(100% - 20px);
		padding-left: 15px;
		input {
			width: 100% !important;
		}
	}
}
.admin-btn-wrapper {
	.cmn--btn {
		padding: 15px 170px;
		background-color: #fa4e0a;
		border-color: #fa4e0a;
		font-size: 23px;
		line-height: 1;
		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}

.text-icon-color {
	color: #9c999d;
}

// PVC Template Starts Here 
.pvc-templets {
	border: 1px solid hsl(var(--border));
	border-radius: 2px;
	padding: 25px;
	background-color: hsl(var(--white));
	@include breakpoint (max-sm) {
		padding: 15px;
	}
}
.order-filter {
	gap: 10px 22px;
	border-bottom: 1px solid hsl(var(--border));
	padding-bottom: 15px;
	@include breakpoint  (max-xxl) {
		gap: 10px 15px;
	}
	@include breakpoint  (max-xxl) {
		gap: 10px;
	}
	li {
		a {
			padding: 7px 35px;
			border: 1px solid hsl(var(--border));
			border-radius: 4px;
			@include breakpoint (max-sm) {
				padding: 3px 10px;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	.form--control {
		padding: 7px 28px;
	}
}
.nav-filter {
	border-bottom: 1px solid hsl(var(--border));
	gap: 20px 30px;
	@include breakpoint(max-lg) {
		gap: 3px 3px;
	}
	@include breakpoint(max-sm) {
		justify-content: center;
	}
	a {
		@extend %transition;
		border-bottom: 2px solid transparent;
		font-size: 16px;
		color: hsl(var(--body));
		i {
			padding-right: 5px;
			font-size: 18px;
			line-height: 1;
		}
		@include breakpoint(max-lg) {
			font-size: 15px;
		}
		&.active {
			border-bottom: 2px solid hsl(var(--base));
			padding-left: 0;
			padding-right: 0;
			color: hsl(var(--base));
			i {
				color: hsl(var(--base));
			}
		}
	}
}
.table {
	&.category-table {
		 th {
		border-top: 0px solid #dee2e6;
		border-bottom: 1px solid hsl(var(--border));
		}
		td {
			padding: 15px;
		}
	}
}
.content--wrapper {
	.thumb {
		width:30px;
		img {
			width: 100%;
		}
	}
	.content {
		width: calc(100% - 30px);
		padding-left: 15px;
		p {
			line-height: 1;
			margin-bottom: 8px;
		}
	}
}
// Transactions Starts Here 
.content-search-form {
	.form-group {
		position: relative;
		input {
			padding-left: 30px;
			border-color: #c6d1e1;
		}
		.search-icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 10px;
			cursor: pointer;
		}
	}
}
.transctions-table-wrapper{
	.content-left {
		width: 250px;
	}
	.right-content {
		ul {
			gap: 0px 12px;
		}
		.cmn--btn {
			padding: 5px 30px;
			background-color: transparent;
			color: hsl(var(--base));
			border-color: #c6d1e1;
			
		}
		.form--control {
			border-color: #c6d1e1;
			padding: 5px 10px;
		}
	}
}
.table-btn {
	padding: 2px 30px;
	@include breakpoint (max-xxl) {
		padding: 5px 20px;
	}
}
.transctions-table {
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid hsl(var(--border));
	border-radius: 2px;
	thead {
		th {
			border-bottom: 1px solid hsl(var(--border)) !important;
		}
	}
	tbody {
		td {
			padding: 18px 15px !important;
		}
	}
}

// Login & Register Starts
.resgister,
.login {
	background-color: #fafcff;
}
.pt-30 {
	padding-top: 30px;
}
.pb-30 {
	padding-bottom: 30px;
}
.login-wrapper {
	background-color: hsl(var(--white));
	border: 1px solid hsl(var(--border));
	background: hsl(var(--white));
	border-radius: 2px;
	padding: 30px 77px 80px;
	overflow: hidden;
	width: 470px;
	@include breakpoint(max-lg) {
		padding: 25px 15px 35px;
	}
	.cmn--btn {
		display: block;
		width: 100%;
	}
}
.login-form {
	label {
		margin-bottom: 3px;
	}
}
.pass-remembar {
	a {
		text-decoration: underline;
		font-style: italic;
		font-size: 14px;
	}
	.check-box {
		font-size: 14px;
		cursor: pointer;
		input {
			margin-top: 15px;
		}
		label {
			cursor: pointer;
		}
	}
}
.idpress {
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 50%;
		height: 1px;
		top: 77%;
		background-color: #a3b3d2;
		@include breakpoint(max-sm) {
			width: 20%;
		}
	}
	&::before {
		left: -21%;
		@include breakpoint(max-sm) {
			left: 0px;
		}
	}
	&::after {
		right: -21%;
		@include breakpoint(max-sm) {
			right: 10px;
		}
	}
}

.resgister-form {
	background-color: hsl(var(--white));
	padding-bottom: 0 !important;
	.form-group {
		margin-bottom: 18px;
	}
	label {
		margin-bottom: 2px !important;
	}
}
.border-top {
	border-top: 1px solid #a3b3d2;
	width: 140%;
	transform: translateX(-14.5%);
}
.form-bottom-text {
	a {
		color: #8f8f8f;
		text-decoration: underline;
		padding-left: 15px;
	}
}
.check-box-2 {
	input {
		width: 15px;
	}
	label {
		width: calc(100% - 15px);
		padding-left: 20px;
		font-size: 10px;
		line-height: 1.3;
		cursor: pointer;
		font-size: 14px;
	}
}
